<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Valupak Vitamin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/valupakvitamin.styles.css" asp-append-version="true" />
</head>
<body class="landing is-preload">
    <header id="header">
		<h1><a href="/Index">Valupak</a> Vitamin</h1>
		<nav id="nav">
			<ul>
				<li><a href="/Index">Home</a></li>
				<li><a href="/Admin">Admin</a></li>
				<li><a href="/Contact">Contact</a></li>
							
				<li>
					<a href="#">medicines</a>
					<ul>
						<li><a href="https://valupak.co.uk/collections/supplements/products/chewable-vitamin-c-500mg">CHEWABLE VITAMIN C - 500MG</a></li>
						<li><a href="https://valupak.co.uk/collections/lifestyles/products/omega-3-fish-oil">OMEGA-3 FISH OIL</a></li>
						<li><a href="https://valupak.co.uk/collections/vitamins/products/zinc-10mg">ZINC - 10MG</a></li>
						<li><a href="https://valupak.co.uk/collections/vitamins/products/multi-vitamin-children-s-oad">MULTI VITAMIN CHILDREN’S OAD</a></li>
					</ul>
				</li>
				<li><a href="/Sepet" class="button">Sepet</a></li>
			</ul>
		</nav>
	</header>
    
            @RenderBody()
       
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="https://www.linkedin.com/in/mecit-%C5%9Febib-bb9688202/">Mohamad Majd SHBIB</a></li>
		</ul>
	</footer>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js" ></script>
	<script src="~/js/jquery.scrollex.min.js"></script>
	<script src="~/js/browser.min.js"></script>
	<script src="~/js/breakpoints.min.js"></script>
	<script src="~/js/util.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
